.search {
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: opacity_content 1s;
}

@keyframes opacity_content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}