.header_blur {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.logo {
    cursor: pointer;
}

.header_notification {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.header_notification > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: opacity_content 1.5s;
}

@keyframes opacity_content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header_notification.header_notification_on {
    width: min(420px, calc(100vw - 1em));
}